# Dependencies
node_modules
.pnp
.pnp.js

# Build output
/dist
/build
/tmp
.next/
out/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files (NEVER commit)
.env
.env.local
.env.prod
.env.development
.env.test
.env.production

# Docker volumes / local data
/data

# Editor
.vscode/
.idea/
*.swp
.DS_Store

# Temp
.temp
.tmp

# Coverage
coverage/
frontend/node_modules.preoverride/
frontend/node_modules.preoverride/*
